<% @posts.each do |post| %>
<%# Criando partial para post %>
  <%= render post %>
<% end %>

<hr>

<div class="d-flex justify-content-end">
  <%= link_to "Criar novo Post", new_post_path, class:"btn btn-success"%>
</div>