<% @posts.each do |post| %>
<%# Criando partial para post %>
  <%= render post %>
<% end %>

<hr>

<div class="d-flex justify-content-center">
  <%= paginate @posts, class: 'pagination-lg' %>
</div>

<% if user_signed_in? %>
  <div class="d-flex justify-content-end mt-3">
    <%= link_to "Criar novo Post", new_post_path, class: "btn btn-success" %>
  </div>
<% end %>

